

.container {
    display: flex;
    width: 960px;
    margin: 0 auto;
}
.sidebar {
    width: 280px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
}
.content {
    width: 576px;
    padding: 30px;
    border: 1px solid #ccc;
    float: left;
}